@import "../styles/styles.scss";

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: "tanha"  !important;
  font-feature-settings: "ss01";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
}


.nav {
  position: fixed;
  right: 0;
  top: 0;
}

// ::-webkit-scrollbar {
//   width: 8px;
// }

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey;
//   border-radius: 10px;
//   -webkit-border-radius: 10px;
//   -moz-border-radius: 10px;
//   -ms-border-radius: 10px;
//   -o-border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $primaryColor;
//   border-radius: 10px;
// }
