@import "../styles/styles.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "tanha";
  font-feature-settings: "ss01";
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
}

div {
  position: relative;
}
