@import "../../../../styles/variables.scss";

.parent {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;

  .icon-box {
    width: 50px;
    height: 50px;
    background: $thirdColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
    &:hover {
      transform: scale(1.1);
    }
    .icon {
      width: 25px;
      height: 25px;
    }
  }

  .content {
    height: 100%;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;

    p {
      font-size: 0.8rem;
      opacity: 0.8;
    }
  }
}

// @media screen and (min-width: ) {

// }
