@import "../../../../styles/styles.scss";

.parent {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
  width: 90%;
  .icon-box {
    width: 50px;
    height: 50px;
    background: $thirdColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: white;
    cursor: pointer;

    @include transition();
    @include boxShadow($thirdColor);

    &:hover {
      @include scaleOnHover();
    }
    .icon {
      width: 25px;
      height: 25px;
    }
  }

  .content {
    height: 50px;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.3rem;

    h4 {
      font-weight: 500;
      opacity: 0.9;
    }

    p {
      font-size: 0.8rem;
      opacity: 0.7;
    }
  }
}
