@import "../../../styles/styles.scss";

.add-product {
  display: flex;
  flex-direction: column;
  &-images {
    width: 50%;
    align-self: center;
    margin-right: $navWidth;
    display: flex;
    padding: 0.5rem;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(136, 136, 136, 0.4);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(85, 85, 85, 0.4);
      cursor: pointer;
    }
  }
  &-content {
    @include containerWidth();
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    position: relative;

    form {
      min-width: 40%;
    }
  }
}
