@import "../../../styles/styles.scss";

.recents {
  .title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: $defaultMargin;
    h2 {
      @include titleStyle();
    }
  }

  .products{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 $defaultMargin;
  }
}
