@font-face {
  font-family: "tanha";
  src: url("../resources//fonts/Tanha-FD.ttf");
  src: url("../resources//fonts/Tanha-FD.eot"),
    url("../resources//fonts/Tanha-FD.woff"),
    url("../resources//fonts/Tanha-FD.woff2");
  font-style: normal;
  font-weight: normal;
}
