@import "variables.scss";
@import "fonts.scss";

@mixin boxShadow($color: rgba(218, 218, 218, 0.664), $spread: 3px) {
  box-shadow: 0.5px 0.5px $spread $color;
}

@mixin scaleOnHover($val: 1.05) {
  transform: scale($val);
  -webkit-transform: scale($val);
  -moz-transform: scale($val);
  -ms-transform: scale($val);
  -o-transform: scale($val);
}

@mixin transition($on: all, $time: 0.3s) {
  transition: $on $time ease;
  -webkit-transition: $on $time ease;
  -moz-transition: $on $time ease;
  -ms-transition: $on $time ease;
  -o-transition: $on $time ease;
}

@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}

@mixin borderRadius($val: 10px) {
  border-radius: $val;
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
}

@mixin titleStyle(
  $color: $primaryColor,
  $fontSize: 1.5rem,
  $fontFamily: "tanha"
) {
  color: $primaryColor;
  font-size: $fontSize;
  font-family: $fontFamily;
}

@mixin containerWidth {
  //for skipping nav
  width: calc(100% - 80px);
}

@mixin translateX($val) {
  transform: translateX($val);
  -webkit-transform: translateX($val);
  -moz-transform: translateX($val);
  -ms-transform: translateX($val);
  -o-transform: translateX($val);
}

