$primaryColor: #1c2541;
$primaryLightColor: #323f68;
$profitColor: #79ea86;
$secondaryColor: #3a506b;
$thirdColor: #5bc0be;
$thirdColorLight: #DEF2F2;
$thirdColorShadow: #5bc0be8f;
$thirdColorHover: #47a7a5;

$defaultMargin: 3rem;
