$primary-color: #fff;
@import "loaders.css/src/animations/ball-grid-pulse.scss";

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 3;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}
